
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #c6c6c6;
  color: #333;
  font-family: 'Inter';
 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container{
    margin: 0 auto;
    max-width: 86%;
    @media screen and (max-width:1440px) {
       
        max-width: 80%;
    }
     @media screen and (max-width:800px) {
        margin: 0 auto;
        max-width: 90%;
    }
}
.header{
    background-color: #363636;
    height: 100px;
}
.header__tabs{
    display: flex;
    justify-content: left;
    gap: 3px;
}
.tab{
    // & a{
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    // }
    
    
   
}
.header__logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    // & img{
        
    // }
}
.tab-link{
    display: block;
padding: 20px 15px 0 15px;
height: 55px;


cursor: pointer;
 &:hover{
        border-bottom: 1px solid yellowgreen;
    }
}
.players__img-box{
    width: 100px;
    height: auto;
    & img{
        width: 100%;
        height: 100%;
    }
}

