.app-container {
  margin: 0 auto;
  max-width: 86%;
}
@media screen and (max-width: 1440px) {
  .app-container {
    max-width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .app-container {
    margin: 0 auto;
    max-width: 90%;
  }
}
.header__tabs {
  display: flex;
  justify-content: left;
  gap: 3px;
}
.header__logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tab-link {
  display: block;
  padding: 20px 15px;
  cursor: pointer;
}
.tab-link:hover {
  border-bottom: 1px solid black;
}
.players__img-box {
  width: 100px;
  height: auto;
}
.players__img-box img {
  width: 100%;
  height: 100%;
}
